.flexbox {
  height: 100%;
  display: -moz-flex;
  -moz-flex-direction: column;
  -moz-justify-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html.ie10 .flexbox {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
}